@import "tailwindcss";

@theme {
  --font-serif: 'Cormorant Garamond', serif;
  --font-sans: 'Montserrat', sans-serif;

  /* Chris McCall Branding Palette */
  --color-gold-400: #B18B53; /* Chris McCall Gold */
  --color-gold-500: #9e7a46;
  --color-gold-900: #6b522f;
  
  --color-navy-900: #0a1128; /* True Navy Blue */
  --color-navy-950: #020507; /* Midnight Navy */
}

@layer base {
  body {
    @apply font-sans;
  }
}
