---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Thank You | Nick Sammons Realty">
	<main class="relative z-0 min-h-[70vh] flex items-center justify-center">
		<section class="py-32 px-6 lg:px-12 text-center max-w-2xl mx-auto space-y-12">
            <div class="space-y-6">
                <div class="bg-navy-900 inline-block p-8 mb-10 shadow-2xl">
                    <img src="/NickSammonsReality/assets/mccall-logo-final.png" alt="Chris McCall Realty" class="h-20 w-auto mx-auto" />
                </div>
                <br/>
                <span class="text-xs font-bold text-gold-500 uppercase tracking-widest">Submission Received</span>
                <h1 class="text-5xl md:text-7xl font-serif tracking-tight leading-none">Thank <span class="italic">You.</span></h1>
                <p class="text-stone-500 text-lg font-light leading-relaxed">
                    Your inquiry has been successfully received. We appreciate you reaching out and will be in touch with you shortly to discuss your real estate needs.
                </p>
            </div>
            
            <div class="pt-6">
                <a href="/NickSammonsReality/" class="inline-block px-12 py-5 bg-navy-900 text-white text-xs font-bold uppercase tracking-widest hover:bg-gold-500 transition-all shadow-xl">
                    Return to Homepage
                </a>
            </div>
		</section>
	</main>
</Layout>
